<nav-card />
<section class='xl:padding-l wide:padding-r padding-b'>
  <hero-card [product]="product"/>
</section>
<section class='padding'>
  <popular-product-card [product]="product" />
</section>
<section class='padding'>
  <super-quality-card />
</section>
<section class='padding-x py-10'>
  <services-section [product]="product"/>
</section>
<section class='padding'>
  <special-offer-card />
</section>
<section class='bg-pale-blue padding'>
  <custom-reviews />
</section>
<section class='padding-x sm:py-32 py-16 w-full'>
  <subscribe-card />
</section>
<section class=' bg-black padding-x padding-t pb-8'>
  <footer-card />
</section>


